<!DOCTYPE html>
<html>
  <head>
    <title>Rubistagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul>
      <% if logged_in? %>
        <li><%= link_to "Top", pictures_path %></li>
        <li><%= link_to "New", new_picture_path %></li>
        <li><%= link_to "Profile", user_path(current_user.id) %></li>
        <li><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_path %></li>
        <li><%= link_to "Login", new_session_path %></li>
      <% end %>
    </header>
    <section class="main-header">
      <%= yield %>
    </section>
    <footer>
      <p>pompompurin</p>
    </footer>
  </body>
</html>
